@import './variables.scss';

.button-knockout {
  border: 1px solid $fill_color;
  padding: 5px 10px;
  background: #FFF;
  transition: color 300ms $cubic, background-color 300ms $cubic;
  height: 100%;
  font-size: $font_size;

  &.selected {
    background: $fill_color;
    border: 1px solid $fill_color;
    color: #FFF;
  }
}