@import "tailwindcss/base";

html {
  @apply font-body;
}

.button-knockout {
  @apply border px-4 h-full bg-white border-gray-900 transition-colors
  duration-300;

  &.selected {
    @apply bg-gray-900;
    color: #FFF;
  }
}

.fade-in-down-enter-active,
.fade-in-down-leave-active {
  transition: opacity, transform;
  @apply ease-in-out duration-500;
}

.fade-in-down-enter,
.fade-in-down-leave-to {
  @apply opacity-0 transform -translate-y-3;
}

.fade-in-left-enter-active,
.fade-in-left-leave-active {
  transition: opacity, transform;
  @apply ease-in-out duration-500 -translate-x-3;
}

.fade-in-left-enter,
.fade-in-left-leave-to {
  @apply opacity-0 transform;
}

.fade-in-left-move {
  transition: transform;
  @apply duration-500;
}

.vs__dropdown-menu {
  box-shadow: none !important;
  margin-top: -1px;
  margin-left: -1px;
  width: 100%;

  @apply border-gray-600;
}

.vs--searchable {
  @apply border border-gray-600 rounded text-lg p-2 box-border mb-4 mr-4;
}

.v-select {
  box-shadow: none !important;
  min-width: 250px;
  max-width: 500px;

  .vs__dropdown-toggle {
    border: none;
    border-radius: 0px;

    .vs__selected {
      border-radius: 0;
      background: #FEFEFE;
      color: #555;
    }

    .vs__search::placeholder {
      color: #a0aec0;
    }
  }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";